*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.dex
*.so
*.zip
.vscode
checksum.h
module/bin
webui/node_modules
pif.prop
action.sh
out/*
moudle_patches
